/*
Description:    CSIS 1280 Term Project
Author:         Diego Pinlac & Yaolong
Student ID:     300389376 & 
Version:        1.0
*/

/* --------------------------------- Font Styles --------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet');

/* --------------------------------- Default Styles --------------------------------- */

/* ---------- Alignment ---------- */

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

/* ---------- Container ---------- */

.one_half {
    float: left;
    margin-right: 4%;
    width: 48%;
}

.one_third {
    float: left;
    margin-right: 4%;
    width: 30.66%;
}

.one_fourth {
    float: left;
    margin-right: 4%;
    width: 22%;
}

.one_fifth {
    float: left;
    width: 19.84%;
    margin-right: 0.2%;
}

.one_sixth {
    float: left;
    width: 16.5%;
    margin-right: 4%;
}

.two_third {
    float: left;
    margin-right: 4%;
    width: 65.32%;
}

.two_fourth {
    float: left;
    margin-right: 4%;
    width: 48%;
}

.two_fifth {
    float: left;
    margin-right: 4%;
    width: 43.68%;
}

.three_fourth {
    float: left;
    width: 74%;
    margin-right: 4%;
}

.last {
    margin-right: 0;
}

.clear {
    clear: both;
}


/* --------------------------------- Main Styles --------------------------------- */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', Raleway, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 auto;
    padding: 0;
    width: 1512px;
    overflow-x: hidden;
    background-color: #000;
    color: #fff;
}

.site-main {
    width: 80%;
    margin: 0 auto;
}

h1 { font-size: 1.5rem; color: #fff; }
h2 { font-size: 1.25rem; color: #fff; }
h3 { font-size: 1rem; }
h4 { font-size: 0.75rem; }
h5 { font-size: 0.5rem; }
h6 { font-size: 0.25rem; }

#space-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

header {
    background-color: #18181ccc;
}

header nav {
    padding: 15px 20px;
}

header nav ul {
    padding-left: 0;
    margin: 0;
}

header nav ul li {
    display: inline-block;
}

header nav ul li:first-child a {
    font-weight: bold;
    text-transform: uppercase;
}

header nav ul li a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 8px 15px;
}

header nav ul li button {
    margin-top: 5px;
    padding: 8px 15px;
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
}

.contain {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

/* Banner */
.home-banner .banner-img {
    margin-bottom: 25px;
    position: relative;
}

.home-banner .txt-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(270deg, rgba(11, 11, 11, 0) 0%, #0B0B0B 100%, #0B0B0B 100%);
}

.home-banner .txt-container #bannerContent {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-10%, -50%);
    width: 30%;
    font-size: 1.25em;
    line-height: 1.75em;
}

.home-banner .txt-container .btnAction-container button {
    padding: 12px 18px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.home-banner .banner-img .img-container {
    height: 505px;
    border-radius: 10px;
    overflow: hidden;
}

.home-banner .banner-img .img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.home-banner .banner-games button {
    display: block;
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 15px;
    background-color: transparent;
    border: none;
    color: #fff;
    text-align: left;
    border-radius: 10px;
    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.home-banner .banner-games button:last-child {
    margin-bottom: 0;
}

.home-banner .banner-games button.active {
    background-color: rgb(255 255 255 / 38%);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.home-banner .banner-games button:hover,
.home-banner .banner-games button:active,
.home-banner .banner-games button:focus {
    background-color: rgb(255 255 255 / 38%);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.home-banner .banner-games .btn-container {
    display: flex;
    align-items: center;
}

.home-banner .banner-games .btn-container .btn-img-container {
    height: 65px;
    width: 55px;
    min-width: 55px;
    max-width: 55px;
}

.home-banner .banner-games .btn-container .btn-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home-banner .banner-games .btn-container span {
    padding-left: 15px;
}

table {
    width: 100%;
}

table caption {
    margin-bottom: 15px;
}

table thead tr th[scope="price"],
table thead tr th[scope="date-added"],
table thead tr th[scope="price"],
table tbody tr td[data-price="price"],
table tbody tr td[data-date="date"],
table tbody tr td[data-action="action"] {
    text-align: center;
}



/* Table style */
table {
    width: 100%;
    border-collapse: collapse;
  }

  /* Header row style */
  th {
    background-color: #f2f2f2;
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  /* Alternating row style */
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  /* Data row style */
  td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

/* Carousel */
.featured-games .item {
    color: #fff;
}

.featured-games .item .img-container {
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
}

.featured-games .item .img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 1s ease-in-out;
    opacity: 1;
}

.owl-carousel .owl-nav button span {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 1px 8px;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    color: rgb(51, 51, 51);

    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
  
  .modal.show {
    display: block;
    opacity: 1;

    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 10px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 20px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
    