body{
    background-color: grey;
}
#Wrapper{
display: grid;
grid-gap: 1em;
grid-template: "header header" 
                "nav main"
                "foot foot"/
                1fr 9fr;
}

header{
    grid-area: header;
}
nav{
    grid-area: nav;
}
main{
    grid-area: main;
}
footer{
    grid-area: foot;
}
#gallery{
    margin: auto;
    /* width: 800px; */
    display: flex;
    /* flex-shrink: 10px; */
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
#FreeGames{
    margin: auto;
    width: 90%;
    align-items: center;
    background-color: black;
    color: aliceblue;
}